<html>


  <div class='module module-movie' style='background-image: url({{movieImage}})'>

    <br>
<br>
<br>

    <div>     
        <label for="javascript"><h1>Exoplanets Microservice:</h1></label><br><br>
    <button id="exoplanets">
        ExoPlanetData
    </button>
    </div>

 <div id="exoPlanetApp"></div>
    
    </html>

<img src="/img/exoplanet.jpg" />