
<body>
   
</body>
<h1>Near Earth Objects (Asteroids)</h1>


<span class="label"><strong>Enter the date (yyyy-mm-dd)</strong> </span><br>
<span class="label"><strong>The range of days cannot exceed 7 days</strong> </span><br><br>

<span class="label">Start Date:</span>

       <input id="wrapperDateValue1" type="text" name="" required pattern="\d{4}-\d{2}-\d{2}">

<br>
<br>
<span class="label">End Date:</span>

       <input id="wrapperDateValue2" type="text" name="" required pattern="\d{4}-\d{2}-\d{2}">
       <br>
       <br>
       <div>

    <button id="search">
        Search
    </button>
       </div>

       <br>
       <br>
  
    {{!-- This div displays the parsed data to the page --}}
 <div id="app"></div>
 








 
