 <html>


<div class="container">
  <label for="javascript"><h1>Roveridia Microservice:</h1></label><br><br>
  <div class="row">




    <div class="col-sm-1" style="background-color:yellow;">
  <div>
<br><br>

    <button id="roveridia1">
        Sol 13
    </button>
    </div>

    </div>


    <div class="col-sm-1" style="background-color:pink;">
     <div>
<br><br>
    <button id="roveridia2">
        Sol 52
    </button>
    </div>
  
    </div>





    <div class="col-sm-1" style="background-color:yellow;">
      <div>
<br><br>
    <button id="roveridia3">
        Sol 128
    </button>
    </div>
    </div>


    <div class="col-sm-1" style="background-color:pink;">
      <div>
<br><br>
    <button id="roveridia4">
        Sol 137
    </button>
    </div>
    </div>




    <div class="col-sm-1" style="background-color:yellow;">
      <div>
<br><br>
    <button id="roveridia5">
        Sol 155
    </button>
    </div>

    </div>


    <div class="col-sm-1" style="background-color:pink;">

      <div>
<br><br>
    <button id="roveridia6">
        Sol 178
    </button>
    </div>
    </div>

    <div class="col-sm-1" style="background-color:yellow;">

      <div>
<br><br>
    <button id="roveridia7">
        Sol 248
    </button>
    </div>

    </div>


  </div>
</div>







 









