    /* CSS files add styling rules to your content */
    
    body {
        font-family: helvetica, arial, sans-serif;
        margin: 2em;
    }
    
    h1 {
        font-style: italic;
        color: #040541;
        text-align: center;
    }
    
    .user {
        background-color: rgb(195, 235, 235);
        padding: 1rem;
        margin-bottom: 1rem;
    }